<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="vizistata.diagnostics">
			<section name="test" type="Vizistata.Mocks.MockConfigurationSection, Vizistata.Common.Test"/>
		</sectionGroup>
	</configSections>

	<vizistata.diagnostics>
		<test />
	</vizistata.diagnostics>

	<system.net>
		<mailSettings>
			<smtp from="Chad.Greer@ParivedaSolutions.com">
				<network host="127.0.0.1"/>
			</smtp>
		</mailSettings>
	</system.net>

	<system.diagnostics>
	</system.diagnostics>
</configuration>